@using Knev.CV.Models;

<div class="card" style="padding:15px; margin:10px; width:auto; height:17%; ">
    <div class="card-body">
        <h3 class="card-title" style="font-size:xxx-large; font-style:italic;">
            @Item.Title
        </h3>
        <div class="row" style="display:block">
            @if (!string.IsNullOrWhiteSpace(Item.SchoolIconUri))
            {
                <img src=@Item.SchoolIconUri style="width:6rem; height:4rem;" alt=@Item.School />
            }
            @if (!string.IsNullOrWhiteSpace(Item.School))
            {
                @if (!string.IsNullOrWhiteSpace(Item.Degree))
                {
                    <span class="card-text" style="font-size: xx-large">&#9201 @Item.StartOn &#127891  '@Item.Degree' &#127979 : @Item.School</span>
                }
                else
                {
                    <span class="card-text" style="font-size: xx-large">&#9201 @Item.StartOn &#x1F3EB  @Item.School</span>
                }
            }
            else
            {
                <span class="card-text" style="font-size: xx-large">&#9201 @Item.StartOn</span>
            }
        </div>
        <div class="row" style="padding-top:10px; display:block">
            @if (Item.Skills.Count() > 0)
            {
                <span>Skills: </span>
                @foreach (var icon in Item.Skills)
                {
                    <img src=@icon alt=@icon.Replace("_", "") style="width:4rem; height:3rem;" />
                }
            }
        </div>


    </div>
</div>

@code {
    [Parameter]
    public EducationModel Item { get; set; } = new();

}